.toolbar {
    height: 100%;
    width: 200px;

    .item {
        margin: 2px 0;
        display: block;

        &.selected {
            background-color: cyan;
        }
    }

    .section {
        margin: 10px 0;

        .github-link img{
            width: 75%;
        }
    }
}