.tool {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    user-select: none;

    &.click-through {
        pointer-events: none;
    }

    .object {
        padding: 10px;
        min-width: 50px;
        border: 1px solid #707070;
    }

    &.selected {
        .object {
            border-color: green;
        }

        .icon {
            color: green;
        }
    }

    .icon {
        font-size: 48px;
        pointer-events: none;
    }
}