.tool {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;

    &.moving {
        cursor: grabbing;
    }

    &.click-through {
        pointer-events: none;
    }

    .object {
        padding: 10px;
        min-width: 25px;
        border: 1px solid black;
    }
}