.tool {
    display: inline-block;
    position: absolute;
    user-select: none;
    pointer-events: none;

    &.click-through {
        pointer-events: none;
    }

    .object {
        padding: 10px;
        min-width: 50px;
        height: 50px;
        border: 1px solid #607d8b;
        background-color: white;
        cursor: pointer;
        font-size: 20px;
        text-align: center;
        transform: translate(-50%, -50%);
        pointer-events: all;
    }

    &.selected {
        .object {
            border: 2px solid #1976D2;
        }

        .icon {
            color: #1976D2;
        }
    }

    .icon {
        font-size: 48px;
        pointer-events: none;
    }
}