.summary {
    table {
        border-collapse: collapse;
        
        tbody {
            border-bottom: 10px solid white;

            td {
                padding: 5px;
            }
        }
    }
}